@import '../../utils/named_variables.scss';

.logo {

  img {
    display: block;
    width: 150px;
    height: 100px;

    &.sub-logo {
      width: 50px;
    }
  }
}

.social-media-icons {
    margin-top: 0.5em;
}

.navbar {
  background-color: #304c7a!important;
  padding-left: 4em;
  padding-right: 4em;
  height: 100px;
}

.nav-bar-custom {
    background-color: #304c7a!important;
    width: 100%;
    height: 100px;
    z-index: 3;
    min-width: 500px;
}

.social-media-icons {
  a {
    padding-left: 1em;
  }
}