@import '../../utils/named_variables.scss';

@media (max-width: 360px) {
  /* CSS that should be displayed if width is equal to or less than 360px goes here */

  .logo {
    img {
      display: block;
      width: 140px;
      height: 50px;
    }
  }
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 361px) {
  /* CSS that should be displayed if width is equal to or more than 361px goes here */
  .logo {
    img {
      display: block;
      width: 170px;
      height: 60px;
    }
  }
  .navbar {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.navbar {
  height: 75px;

  button {
    width: 8rem;
    min-width: fit-content;
    color: $primary-color;
    background-color: $background-color;
    border: 0.25rem solid $primary-color;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 14px;
    float: right;
  }

  button.grow_skew_forward:hover {
      color: $background-color; // #f4f5f7;
      border: 0.25rem solid $light-blue;
      text-shadow: 4px 4px 16px rgba(0,0,0,0.6);
      // transform: scale(1.1);
  }

  button.grow_skew_forward::after {
      content: "";
      background-color: $light-blue;
      position: absolute;
      z-index: -1;
      padding: 1.85em 0.75em 1.7em;
      display: block;
      transition: all 0.3s ease;
      left: -20%;
      right: -20%;
      top: -9px;
      bottom: 0;
      transform: skewX(-45deg) scale(0, 1);
      transition: all 0.3s ease-out;
  }

  button.grow_skew_forward:hover::after {
      transform: skewX(-45deg) scale(1, 1);
  }
}