@import '../../utils/named_variables.scss';

.home-page {

    margin-top: 2em;
    padding-left: 2.7em;
    padding-right: 2.7em;
    will-change: contents;
    opacity: 0;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;

    .main-card {
        height: 30em;
        margin-bottom: 2em;
        box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.3);
        border-top-width: medium;
        border-top-style: solid;
        border-top-color: $primary-color;
    }

    button {
        font-size: 1.5rem; // equal to h4 title
        color: $primary-color;
        background-color: $grey-color;
        border: 0.25rem solid $primary-color;
        // margin-top: 4em;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    button:hover {
        color: $grey-color;
    }
    button::after {
        content: "";
        background: $primary-color;
        position: absolute;
        z-index: -1;
        padding: 0.85em 0.75em;
        display: block;
        transition: all 0.3s ease;
    }
    button.grow_skew_forward::after {
        left: -30%;
        right: -30%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.3s ease-out;
    }
    button.grow_skew_forward:hover::after {
        transform: skewX(-45deg) scale(1, 1);
    }

    .card-img-top {
        max-width: 26em;
        height: 14em;
    }

    .card-text {
        padding-top: 1em;
        text-align: justify;
        opacity: 0.5;
    }

    // .text-zone {
    //     position: absolute;
    //     left: 15%;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     width: 50%;
    //     max-height: 90%;
    // }

    // h1 {
    //     color: #fff;
    //     font-size: 53px;
    //     margin: 0;
    //     font-family: 'Coolvetica';
    //     font-weight: 400;

    //     &::before {
    //         content: '<h1>';
    //         font-family: 'La Belle Aurore';
    //         color: #ffd700;
    //         font-size: 18px;
    //         position: absolute;
    //         margin-top: -40px;
    //         left: 15px;
    //         opacity: 0.6;
    //     }

    //     &::after {
    //         content: '</h1>';
    //         font-family: 'La Belle Aurore';
    //         color: #ffd700;
    //         font-size: 18px;
    //         position: absolute;
    //         margin-top: 18px;
    //         margin-left: 20px;
    //         animation: fadeIn 1s 1.7s backwards;
    //         opacity: 0.6;
    //     }

    //     img {
    //         width: 32px;
    //         margin-left: 20px;
    //         opacity: 0;
    //         height: auto;
    //         animation: rotateIn 1s linear both;
    //         animation-delay: 1.4s;
    //     }
    // }

    // h2 {
    //     color: #8d8d8d;
    //     margin-top: 20px;
    //     font-weight: 400;
    //     font-size: 11px;
    //     font-family: sans-serif;
    //     letter-spacing: 3px;
    //     animation: fadeIn 1s 1.8s backwards;
    // }
    
    // .flat-button {
    //     color: #ffd700;
    //     font-size: 13px;
    //     font-weight: 400;
    //     letter-spacing: 4px;
    //     font-family: sans-serif;
    //     text-decoration: none;
    //     padding: 10px 18px;
    //     border: 1px solid #ffd700;
    //     margin-top: 255px;
    //     float: left;
    //     animation: fadeIn 1s 1.8s backwards;
    //     white-space: nowrap;
    //     cursor: pointer;
    
    //     &:hover {
    //         background: #ffd700;
    //         color: #333;
    //     }
    // }
}

.main-card {
    background-color: $grey-color!important;
}