@import '../../utils/named_variables.scss';

@media (max-width: 360px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 350px;
            padding-left: 3.5rem!important;
            margin-bottom: 2em!important;
            background-position: left!important;

            h1 {
                font-size: 3em!important;
            }
        }

        .arrow-right-img, .arrow-left-img {
            height: 130px;
            margin-bottom: 2em;
        }

        .arrow-right-img {
            padding-left: 1em;
        }

        .arrow-left-img {
            padding-right: 1em;
        }

        .secondary-info-right, .secondary-info-left {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 1em;
        }
    }
}

@media (min-width: 361px) and (max-width: 390px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 350px;
            padding-left: 3.5rem!important;
            margin-bottom: 2em!important;
            background-position: left!important;

            h1 {
                font-size: 3em!important;
            }
        }

        .arrow-right-img, .arrow-left-img {
            height: 170px;
            margin-bottom: 2em;
        }

        .arrow-right-img {
            padding-left: 1em;
        }

        .arrow-left-img {
            padding-right: 1em;
        }

        .secondary-info-right, .secondary-info-left {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 1em;
        }
    }
}

@media (min-width: 391px) and (max-width: 430px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 350px;
            padding-left: 3.5rem!important;
            margin-bottom: 2em!important;
            background-position: left!important;

            h1 {
                font-size: 3em!important;
            }
        }

        .arrow-right-img, .arrow-left-img {
            height: 190px;
            margin-bottom: 2em;
        }

        .arrow-right-img {
            padding-left: 1em;
        }

        .arrow-left-img {
            padding-right: 1em;
        }

        .secondary-info-right, .secondary-info-left {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 1em;
        }
    }
}

@media (min-width: 431px) and (max-width: 570px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 350px;
            padding-left: 3.5rem!important;
            margin-bottom: 2em!important;
            background-position: left!important;

            h1 {
                font-size: 3em!important;
            }
        }

        .arrow-right-img, .arrow-left-img {
            height: 210px;
            margin-bottom: 2em;
        }

        .secondary-info-right, .secondary-info-left {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 1em;
        }
    }
}

@media (min-width: 571px) and (max-width: 634px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 350px;
            padding-left: 3.5rem!important;
            margin-bottom: 2em!important;
            background-position: left!important;
        }

        .arrow-right-img, .arrow-left-img {
            height: 280px;
            margin-bottom: 2em;
        }

        .secondary-info-right, .secondary-info-left {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 1em;
        }
    }
}

@media (min-width: 635px) and (max-width: 808px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 500px;
        }

        .arrow-right-img, .arrow-left-img {
            height: 320px;
            margin-bottom: 2em;
        }

        .secondary-info-right, .secondary-info-left {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 1em;
        }
    }
}

@media (min-width: 809px) and (max-width: 991px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 500px;
        }

        .arrow-right-img {
            height: 400px;
            margin-bottom: 2em;
        }

        .arrow-left-img {
            height: 400px;
            margin-bottom: 2em;
        }

        .secondary-info-right {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 1em;
        }

        .secondary-info-left {
            padding-left: 3em;
            padding-bottom: 2em;
        }
    }
}

@media (min-width: 992px) and (max-width: 1001px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 500px;
        }

        .arrow-right-img {
            height: 240px;
        }

        .arrow-left-img {
            height: 240px;
        }

        .secondary-info-right {
            padding-right: 2em;
            padding-right: 2em;
            padding-bottom: 2em;
        }

        .secondary-info-left {
            padding-left: 3em;
        }
    }
}
@media (min-width: 1002px) and (max-width: 1192px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 637px;
        }

        .arrow-right-img {
            height: 250px;
            padding-left: 1em;
        }

        .arrow-left-img {
            height: 250px;
            // padding-left: 1em;
        }

        .secondary-info-right {
            padding-right: 2em;
        }

        .secondary-info-left {
            padding-left: 3em;
        }
    }
}
@media (min-width: 1193px) and (max-width: 1336px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 637px;
        }

        .arrow-right-img {
            height: 250px;
            padding-left: 1em;
        }

        .arrow-left-img {
            height: 250px;
            // padding-left: 1em;
        }

        .secondary-info-right {
            padding-right: 2em;
        }

        .secondary-info-left {
            padding-left: 2em;
        }
    }
}
@media (min-width: 1337px) and (max-width: 1800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 810px;
        }

        .arrow-right-img {
            height: 275px;
        }

        .arrow-left-img {
            height: 275px;
        }
    }
}
@media (min-width: 1801px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .home-page {
        .main-info {
            min-height: 810px;
        }

        .secondary-info-container {
            margin-bottom: 1em;
        }

        .arrow-right-img {
            height: 350px;
        }

        .arrow-left-img {
            height: 350px;
        }
    }
}

.home-page {
    will-change: contents;
    opacity: 0;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    background-color: $background-color;
    padding: 0;

    .link {
        color: inherit;
        text-decoration: underline;
        &:hover {
          color: $light-blue;
          cursor: pointer;
        }
    }

    .main-info {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3em;
        text-align: justify;
        color: $white;
        background-image: url( '/assets/images/home-img/main-img.png' );
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-origin: border-box;
        text-shadow: 4px 4px 16px rgba(0,0,0,0.6);
        mix-blend-mode: luminosity;

        h1 {
            font-size: 5em;
            font-weight: bold;
            text-align: left;
            // margin-top: 1em;
            // margin-bottom: 1em;
        }

        h2 {
            font-size: 3em;
            margin-top: 1em;
            font-weight: bold;
            color: $white;
        }

        p {
            font-size: 2em;
        }
    }

    button {
        font-size: 1.5rem; // equal to h4 title
        color: $primary-color;
        background-color: $background-color;
        border: 0.25rem solid $primary-color;
        // margin-top: 4em;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    button:hover {
        color: $background-color;
    }

    button::after {
        content: "";
        background: $primary-color;
        position: absolute;
        z-index: -1;
        padding: 0.85em 0.75em;
        display: block;
        transition: all 0.3s ease;
    }

    button.grow_skew_forward::after {
        left: -30%;
        right: -30%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.3s ease-out;
    }

    button.grow_skew_forward:hover::after {
        transform: skewX(-45deg) scale(1, 1);
    }
}