@import '../../utils/named_variables.scss';


.contact-page {

    color: $black;
    background-color: #dcdcdc73;
    padding-top: 1em;

    // .contact-page-header {
    //     color: #030b5d
    // }

    .contact-info {
        font-size: 1.5em;
    }

    .contact-value {
        color: $primary-color;
        font-weight: 700;
    }

    .icon-container {
        transition: transform 0.2s;

        a {
            padding: 0;
            margin-top: 0.5rem;
            text-decoration: none!important;
            color: initial!important; /* Restablece el color predeterminado del texto */
            background: initial!important;

        }
    }

    .icon:hover {
        // transform: scale(1.2)!important; /* Escala el icono al 120% en el evento hover */
        color: #87CEEB!important; /* Cambia el color del icono al pasar el cursor sobre él */
        /* Otros estilos de resaltado que desees */
        a {
            color: #87CEEB!important;
        }
    }

    // .contact-title {
    //     color: #030b5d;
    //     font-weight: 500;
    // }
}

.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }
}
