// $primary-color: #304c7a;
// $grey-color: #f4f5f7;
// $orange-color: #e06236;
// $brown-color: #d7a64b;
// $red-color:	#c72138;

// $primary-color: #008AF0;
// $dark-blue: #030b5d;
// $background-color: #f5f8ff;
// $light-blue: #B9E1FF;
// $middle-blue: #66BEFF;

$primary-color: #4c4c4c;
$white: white;
$background-color: #f5f8ff;
$light-blue: #ED95CB;
$dark-blue: #F647B2;
$black: black;