@import '../../utils/named_variables.scss';

.footer {
  padding: 2em;
  background-color: $primary-color;
  color: $background-color;

  .icon-container {
      transition: transform 0.2s;

      a {
          text-decoration: none!important;
          color: $white!important; /* Restablece el color predeterminado del texto */
          background: initial!important;

      }

      .icon:hover {
          // transform: scale(1.2)!important; /* Escala el icono al 120% en el evento hover */
          color: #87CEEB!important; /* Cambia el color del icono al pasar el cursor sobre él */
          /* Otros estilos de resaltado que desees */
          a {
              color: #87CEEB!important;
          }
      }
  }

  #contained-modal-title-vcenter {
    padding-left: 27%!important;
  }

  button {
    width: 8rem;
    min-width: fit-content;
    color: $primary-color;
    background-color: $background-color;
    border: 0.25rem solid $primary-color;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 14px;
    float: right;
  }

  button.grow_skew_forward:hover {
      color: $background-color; // #f4f5f7;
      border: 0.25rem solid $light-blue;
      text-shadow: 4px 4px 16px rgba(0,0,0,0.6);
      // transform: scale(1.1);
  }

  button.grow_skew_forward::after {
      content: "";
      background-color: $light-blue;
      position: absolute;
      z-index: -1;
      padding: 1.85em 0.75em 1.7em;
      display: block;
      transition: all 0.3s ease;
      left: -20%;
      right: -20%;
      top: -9px;
      bottom: 0;
      transform: skewX(-45deg) scale(0, 1);
      transition: all 0.3s ease-out;
  }

  button.grow_skew_forward:hover::after {
      transform: skewX(-45deg) scale(1, 1);
  }
}